/* Write your CSS here */
.Bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffd569;
}
.Fruits-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  height: 80vh;
  width: 80%;
  border-radius: 30px;
}

.img-button-main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img-button-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
}
img {
  margin-bottom: 40px;
  height: 30vh;
}

button {
  background-color: #007bff;
  color: white;
  border-radius: 3px;
  border-color: #007bff;
  padding: 4px;
}

span{
  color:#ffd569; 
}